//Colors
$color-primary: #fff;
$color-main-accent: #0EC261;
$color-black: #000;
$color-light-gray: #eee;
$color-gray: #999;

//Gradients
$slider-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);


//Sizes
$slider-width: 48%;
$left-side-width: 47%;
$navigation-area-width: 5%;


