.btn {
  width: 250px;
  height: 48px;
  mix-blend-mode: normal;
  background-image: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
  background-blend-mode: darken;
  border-radius: 8px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: .3s;
  &:hover {
    background-image: linear-gradient(90deg, #039F67 2.61%, #0EC261 112.6%);
  }
  &__slider {
    width: 164px;
    height: 48px;
    border-radius: 4px;
    &--01 {
      background: linear-gradient(90deg, #13493F 0%, #0C7B1B 100%);
      &:hover {
        background: linear-gradient(90deg, #0C7B1B 0%, #13493F 100%);
      }
    }
    &--02 {
      background: linear-gradient(90deg, #132949 0%, #0C7B67 100%);
      &:hover {
        background: linear-gradient(90deg, #0C7B67 0%, #132949 100%);
      }
    }
    &--03 {
      background: linear-gradient(90deg, #493013 0%, #7B0C3B 100%);
      &:hover {
        background: linear-gradient(90deg, #7B0C3B 0%, #493013 100%);
      }
    }
    &--04 {
      background: linear-gradient(90deg, #281349 0%, #720C7B 100%);
      &:hover {
        background: linear-gradient(90deg, #720C7B 0%, #281349 100%);
      }
    }
  }
}
