.header {
  width: 100%;
  min-height: 811px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #151B1F;
  display: flex;
  overflow: hidden;
  &__left {
    height: 100%;
    width: $left-side-width;
    background-color: $color-primary;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__top-box {
    display: flex;
    justify-content: space-between;
    button {
      background: transparent;
      border: none;
      display: flex;
      align-items: center;
      color: $color-gray;
    }
    .location-icon {
      background-image: url("../img/icons/location.svg");
      background-repeat: no-repeat;
      height: 18px;
      width: 15px;
      display: inline-block;
      background-size: contain;
      margin-right: 5px;
    }
  }
  &__center-box {
    .btn {
      margin-top: 45px;
    }
  }
  &__bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    .copy {
      color: $color-gray;
    }
    a {
      font-size: inherit;
      color: #000;
      text-decoration: none;
    }
  }
  &__right {
    width: $slider-width;
  }

  @media (max-width: 1024px) {
    &__left {
      width: 55%;
    }
    &__right {
      width: 40%;
    }
  }
  @media (max-width: 768px) {
    &__left {
      width: 90%;
      padding: 30px;
    }
    &__right {
      display: none;
    }
  }
  @media (max-width: 544px) {
    &__left {
      width: 100%;
      padding: 20px 0 0;
    }
    &__top-box {
      flex-direction: column;
      align-items: flex-end;
      padding-right: 10px;
    }
    &__center-box {
      .btn {
        width: 100%;
        border-radius: 0;
      }
    }
    &__bottom-box {
      background-color: #151B1F;
      flex-direction: column;
      align-items: flex-end;
      padding: 10px 15px;
      .copy {
        order: 2;
      }
      .phone {
        color: $color-main-accent;
      }
    }
    .heading-primary {
      font-size: 40px;
      line-height: 40px;
      padding: 0 10px;
      &--sub {
        font-size: 18px;
      }
    }
  }
}